*{
    padding: 0px;
    margin:0;
    box-sizing: border-box;
}

body{
	background-image: url("../images/bg8.png");
}

.footer{

	background-image: url("../images/bg5.png");
	border-top: 2px solid white;
	}

.footerbox{
	width: 100%;
	height: 0 auto;
	bottom:0;
	margin-bottom: 0;
	position: absolute;
	clear: both;
}
.footer p{
display: flex;
justify-content: center;
color:grey;
}

.nav{
	background-color: white;
}
.navbg{
	background-color: lightgrey;
	border-bottom: 2px solid white;
	background-image: url("../images/bg5.png");
}

.link{
	
	box-shadow: 5px 5px 5px grey;
	border:1px solid lightgrey;
	background-image: url("../images/bg5.png");
}
.storybox{
	
	padding-bottom:50px;
	box-shadow: 5px 5px 5px grey;
	border:1px solid white;
	background-image: url("../images/bg5.png");
}

